{% extends 'EventBundle::layout.html.twig' %}


{% block bootstrap %}
    <!-- Le styles -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="../public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% endblock %}

{% block body %}
    ----------------------bootstrap
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Guest book</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <br><br>
                    <p>

                        <section class="event-show event-edit">
                            <header id="menu">
                                {#<a class="link" href="{{ path('event') }}">&larr; back to the event list</a>#}
                            </header>

                            <article>
                                <section>
                                    <form action="{{ path('event_create') }}" method="post" {{ form_enctype(form) }}>
                                        {{ form_row(form.name) }}{{ form_row(form.textbox) }}
                                        {#{{ form_row(form.time) }}#}

                                        <p>
                                            <button type="submit">Create</button>
                                        </p>
                                    </form>
                               {#  <form action="{{ path('event_create') }}" method="post" {{ form_enctype(form) }}>
                                        <h1>
                                            New post!
                                        </h1>

                                        <dl>
                                            <dd>
                                            <dt>Name:  {{ form_widget(form.name) }}</dt>
                                            <dd>

                                            <dd>
                                            <dt>Message:  {{ form_widget(form.textbox) }}</dt>
                                            </dd>

                                            <dd>
                                            <dt> {{ form_widget(form.time) }}</dt>
                                            </dd>
                                        </dl>

                                        {{ form_widget(form) }}

                                        <button type="submit" class="button">Save</button>

                                    </form>#}
                                </section>
                            </article>
                        </section>
                    </p>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    ----------------------


        {% for entity in entities %}
            <article>
                <section>
                    <br><br><br>
                    <dl >
                        <dt>
                        {{ entity.name }}
                        Time: {{ entity.time | date('g:ia / l M j, Y') }}
                        </dt>
                    </dl>
                    <dl>
                        <dt>Message:</dt>
                        <dd><strong>{{ entity.textbox }}</strong></dd>
                    </dl>

                </section>
            </article>
        {% endfor %}
    </section>



    ----------------------bootstrap footer
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Guest book all rights reserved.</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        {#<li class="active"><a href="#">Home</a></li>#}
                        {#<li><a href="#about">About</a></li>#}
                        {#<li><a href="#contact">Contact</a></li>#}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    ----------------------
{% endblock %}