{% extends 'EventBundle::layout.html.twig' %}

{% block bootstrap %}
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
{% endblock %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Guest book</a>
                <br>
                <div class="pagination-centered">

                    {{ pagerfanta(entities, 'twitter_bootstrap') }}

                </div>

            </div>
        </div>
    <form action="{{ path('gbook_homepage') }}" method="post" {{ form_enctype(form) }} class="well">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.textbox) }}

        {{ form_rest(form) }}
        <input type="submit" value="Отправить" class="btn"/>
    </form>
    </div>

    {% for entity in entities.currentPageResults %}
        Author: {{ entity.name }} <br>

        {% if entity.textbox|length > 100 %}
            <td width="8%">{{entity.textbox|slice(0, 100)}}...</td>
        {% else %}
            <td width="8%">{{entity.textbox}}</td>
        {% endif %}

        {#Message: {{  [0:99] }}#}
       <a href="{{ path('gbook_show', {'id': entity.id}) }}">Просмотреть</a><br>
       <a href="{{ path('gbook_delete', {'id': entity.id}) }}">Удалить</a><hr>
    {% endfor %}

    <div class="navbar navbar-inverse navbar-fixed-bottom2">
        <div class="navbar-inner">
            <div class="container pagination-centered">
                {{ pagerfanta(entities, 'twitter_bootstrap') }}
            </div>
        </div>
    </div>

{% endblock %}





