{% extends 'EventBundle::layout.html.twig' %}

{% block bootstrap %}
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
{% endblock %}

{% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Guest book</a>
                <p>
                    {{ pagerfanta(entities, 'twitter_bootstrap') }}
                </p>

                    <form action="{{ path('gbook_homepage') }}" method="post" {{ form_enctype(form) }} class="well">
                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}
                        {{ form_row(form.time) }}
                        {{ form_row(form.textbox) }}

                        {{ form_rest(form) }}
                        <input type="submit" value="Отправить" class="btn"/>
                    </form>
            </div>
        </div>
    </div>
<div>
    {% for entity in entities.currentPageResults %}
        Author: {{ entity.name }} <br>
        Message: {{ entity.textbox [0:99] }}<br>
       {# <a href="{{ path('gbook_show', {'id': entity.id}) }}">Show</a><br>
        <a href="{{ path('gbook_delete', {'id': entity.id}) }}">Delete</a><hr>#}
    {% endfor %}
</div>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                {{ pagerfanta(entities, 'twitter_bootstrap') }}
                <div class="nav-collapse collapse">
                </div>
            </div>
        </div>
    </div>

{% endblock %}





